/*
ws dot primary green #007B5F
*/
html, body, #app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow:auto
}
#initialLoader {
  position: absolute;
  z-index: 99999;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  background-image: url("/assets/washington-state-ferries-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 900px 250px;
}
#mapView {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0
}
#introTitle {
  font-size:20px;
  font-weight:900;
  color:#007B5F;
  text-align: center;
}
#ferry-logo {
  width: 150px;
  float: right;
}
#info-ferry-logo {
  width: 100px;
  float: right;
}
#outOfExtentNotification {
  display: none;
  font-weight: bold;
  left: 30%;
  position: fixed;
  z-index: 9999;
  bottom: 30px;
}
#about {
  position: absolute;
  z-index: 999;
  bottom: 30px;
  right: 30px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer
}
#about:hover {
  background-color: rgba(255,255,255,1);
}
#brsLink:hover {
  color: #0044aa;
}
#brsLink {
  color: #ff6600;
  text-decoration: none;
}
#outOfExtentNotification.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.8s;
  animation: fadein 0.5s, fadeout 0.5s 2.8s;
}
#ferriesCruiseContainer {
  position: relative
}
#aboutFerryEast2 {
  position: absolute;
  top:35px;
}
#aboutFerryWest {
  position:absolute;
  right:200px;
}
.modal:hover #aboutFerryEast1 {
  transform: translate(250px,0);
  transition: all 8s ease-in-out;
}
.modal:hover #aboutFerryEast2 {
  position: absolute;
  top:35px;
  transform: translate(225px,0);
  transition: all 3s ease-in-out;
}
.modal:hover #aboutFerryWest {
  position:absolute;
  right:200px;
  transform: translate(-300px,0);
  transition: all 5s ease-in-out;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.panel {
  position: absolute;
  z-index: 9999;
  top: 10px;
  right: 5px;
  width: 35%;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 18px;
  opacity: 0.9;
  overflow: auto;
  max-height: 95%;
}
button.ferriesBtn {
  font-size: 18px;
  background-color: #007B5F;
  border: none;
  border-radius: 4px;
  color:whitesmoke;
  cursor: pointer;
  justify-content: center;
  padding: 12px;
  text-align: center;
  white-space: nowrap;
}

/* media queries to format panel to support mobile */
@media screen and (max-width: 600px) {
  .panel {
    height: 27% !important;
    width: 100% !important;
    padding: 6px !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
  }
}
#ferryZoom {
  font-size: 12px;
  margin-top: 8px
}
a.ferry-link {
  color: #007B5F !important
}
i.esri-icon-zoom-in-magnifying-glass {
  font-size: 12px
}
.info-title {
  font-size:20px;
  font-weight:900;
  color:#007B5F;
  padding: 4px;
}
/* loading */
#loader {
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 3px;
  background: repeating-linear-gradient(to right, #007B5F 0%, whitesmoke 50%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 10s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -100% 0; }
}